html,
body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-image: radial-gradient(ellipse at 0 0 , #3f5efb, #aa46fb);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem;

  background: white;
}

h1 {
  margin: 0 0 1rem 0;
  font-weight: 100;
}

img{
  max-width: 100%;
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
  object-fit: cover;
  height: 100%;
  width: 100%;

}

.cena {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 90px);
  gap: 1rem;
  perspective: 600px;
}

.labelCheck {
  width: 110px;
  height: 90px;
  outline: 2px solid rgb(255, 119, 0);
  border-radius: 5px;
  transform-style: preserve-3d;
  transition: .5s transform;
  position: relative;
  transform-origin: right center;
}
.cardCheck:checked + .card {
  transform: translateX(-100%) rotateY(-180deg);
}

.cardCheck:focus + .card {
  outline: 2px solid orange;
  outline-offset: 2px;
}

.card_face {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.card_face-front {
}

.card_face-back {
  transform: rotateY(180deg);
}

.hide {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
