:root{
    --primary-color: #bc0d0d;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(to top, rgb(0 0 255 / .9) 50%, red),url(/imagens/tile.png);
    background-attachment: fixed;
    background-blend-mode: color;
}

.cores{
    width: 80%;
    border: 8px dashed color-mix(in srgb, var(--primary-color), transparent);
    margin: 20px auto;
    padding: 26px;
}

.cores p {
    margin: 0;
}

section{
    counter-reset: contador;

}

.cores{
    counter-increment: contador;
}

.cores::before{
    content: "[ " counter(contador)" ]";
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
}

.cores:nth-of-type(2){
    background-color: red;
    background-clip: content-box;
}
.cores:nth-of-type(3){
    background-color: hsl(50deg, 100%, 50%, .5);
    box-shadow: 15px 10px 6px hsl(100deg, 100%, 50%) inset;
}
.cores:nth-of-type(3):hover{
    background-color: hsl(50deg, 100%, 40%);
}
.cores:nth-of-type(4){
    background-image: linear-gradient(70deg, blue, transparent), linear-gradient(to top, red,blue);
    background-clip: content-box, padding-box;
}
.cores:nth-of-type(5){
    background-image: radial-gradient(blue 30%, #f007 , green 50%, yellow);
}

.cores:nth-of-type(6){
    background-image: radial-gradient(circle ,blue 30%, #f007 , green 50%, yellow);
}

.cores:nth-of-type(7){
    background-image: radial-gradient(circle,blue, #f007 , green, yellow);
}

.cores:nth-of-type(8){
    background-image: radial-gradient(circle at top left, blue, #f008);
}

.cores:nth-of-type(9){
    background-image: radial-gradient(at top left, blue, #f008);
}