<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Position</title>
    <style>
        #div1{
            background-color: rgba(255, 0, 0, .5);
            padding: 10px;
            width: 90%;
            position: relative;

        }
        #div2{
            background-color: rgba(0, 255, 0, .5);
            padding: 10px;
            width: 80%;
            height: 50px;
            position: static;
            left: 20px;
        }
        #div3{
            background-color: rgba(0, 0, 255, .5);
            padding: 10px;
            width: 30px;
            height: 30px;
            position: fixed;
            top: 20px;
            right: 0;
        }
    </style>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>

    <div id="div1">
        1
        <div id="div2">
            2
            <div id="div3">
                3
            </div>
        </div>
    </div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam pariatur commodi aut sit minus itaque! Cumque similique doloremque tempore, iusto consequatur aperiam, ipsa sunt dolores libero praesentium expedita exercitationem quas.</p>
</body>
</html>