html{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
    width: 100vw;
    height: 100vh;
}
body{
    background-color: #181718;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}
form{
    width: 50vw;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #0E0F10;
    color: #ccc;
}
fieldset{
    border: none;
    font-size: 1.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0;
    padding: 2rem;
}
legend{
    text-align: center;
    font-weight: bold;
    color: #898F90;
    font-size: 1.2em;
    margin-top: 1rem;
    padding: 2rem 0 0;
    font-size: 3rem;
}
label{
    margin: 1rem 0;
}
input{
    height: 3rem;
    background-color: #0B0A0C;
    margin: 0 0 1.6rem 0;
    border: none;
    border-bottom: 1px solid white;
    padding: .5rem;
    color: white;
}
.valid:focus{
    background-color: #2A2729;
    border-bottom: 1px solid red;
    outline: none;
}
.valid:focus:valid{
    border-bottom: 1px solid green;
}
textarea{
    resize: none;
    color: white;
    background-color: #0B0A0C;
    border: none;
    border-bottom: 1px solid white;
    margin: 0 0 2rem;
}

.btn{
    color: white;
    background-color: #181718 ;
    border: none;
    width: fit-content;
    margin-left: auto;
    padding: 2rem;
    cursor: pointer;
}