html{
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #ccc;   
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    align-items: center;
}
.container{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container h1{
    margin: 0 0 1rem 0;
}
legend{
    padding: 1.5em;
    text-align: center;
    font-weight: bold;
    color: #454e4f;
    font-size: 1.2 em;
}
form{
    box-shadow: 3px 3px 10px #555;
    background-color: #ecf0f1;
    border-radius: 5px;
}
label{
    padding: .2rem 0;
}
input{
    padding: .5rem 0;
    margin-bottom: 1rem;
    border-radius: .2rem;
    border: none;
    border: 1px solid #bbb;
}
.btn_submit{
    margin: .5rem 0;
    padding: .5rem;
    font-weight: bold;
    font-size: 1rem;
    
}
.btn_submit:hover{
    background-color: #cacaca;
    cursor: pointer;
}
.actions{
    display: flex;
    gap: 10rem;
}
fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    text-align: left;
    
}